.RedGradientPosition_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 16px;
    height: 16px;
    background: rgb(17, 17, 17);
    cursor: pointer;
    transition: background 0.2s;
}

.RedGradientPosition_item:hover {
    background: rgb(70, 61, 166);
}

.RedGradientPosition_itemBox {
    display: flex;
    gap: 1px;
}

.RedGradientPosition_itemMirror {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 5px;
    padding: 3px 5px;
    background: linear-gradient(#6b6b6b, #2c2c2c), #444;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    transition: background 0.2s;
    border-radius: 4px;
    z-index: 1;
    border: 1px solid #222;
    font-size: 11px;
}

.RedGradientPosition_itemMirror:hover {
    background: linear-gradient(rgb(94, 122, 222), rgb(44, 53, 101));
}