/* RedFrameRight */
.RedFrameRight_container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.RedFrameRight_container_item {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--panel-title-border-right-color);
}
