@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    position: relative;
    line-height: 1;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #ddd;
    user-select: none;
}

input, select {
    outline: none;
    border: 0;

}

input[type='radio'] {
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #6b6b6b;
    background: #4f4f4f;
    cursor: pointer;
}

input[type='radio']:checked {
    background: radial-gradient(#efb26a, #1a1a1a);
}


a {
    text-decoration: none;
}

#root {
    height: 100%;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* 스크롤 바 */

::-webkit-scrollbar-track {
    background-color: #5e7ade22;
}

/* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb {
    background: #5e7ade;
    border-radius: 10px;
}

/* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover {
    background: #5e7ade;
}

/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active {
    background: #5e7ade;
}

/* 실질적 스크롤 바를 클릭할 때 */

::-webkit-scrollbar-button {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
